@font-face {
    font-family: 'KamFont';
    src: url(/assets/fonts/Sohne-Kraftig.eot);
    src: url(/assets/fonts/Sohne-Kraftig.eot?#iefix) format("embedded-opentype") , url(/assets/fonts/Sohne-Kraftig.woff2) format("woff2") , url(/assets/fonts/Sohne-Kraftig.woff) format("woff") , url(/assets/fonts/Sohne-Kraftig.ttf) format("truetype") , url(/assets/fonts/Sohne-Kraftig.svg#Sohne-Kraftig) format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'KamFont';
    src: url(/assets/fonts/Sohne-Halbfett.eot);
    src: url(/assets/fonts/Sohne-Halbfett.eot?#iefix) format("embedded-opentype") , url(/assets/fonts/Sohne-Halbfett.woff2) format("woff2") , url(/assets/fonts/Sohne-Halbfett.woff) format("woff") , url(/assets/fonts/Sohne-Halbfett.ttf) format("truetype") , url(/assets/fonts/Sohne-Halbfett.svg#Sohne-Halbfett) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'KamFont';
    src: url(/assets/fonts/Sohne-Buch.eot);
    src: url(/assets/fonts/Sohne-Buch.eot?#iefix) format("embedded-opentype") , url(/assets/fonts/Sohne-Buch.woff2) format("woff2") , url(/assets/fonts/Sohne-Buch.woff) format("woff") , url(/assets/fonts/Sohne-Buch.ttf) format("truetype") , url(/assets/fonts/Sohne-Buch.svg#Sohne-Buch) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'KamFont';
    src: url(/assets/fonts/Sohne-Fett.eot);
    src: url(/assets/fonts/Sohne-Fett.eot?#iefix) format("embedded-opentype") , url(/assets/fonts/Sohne-Fett.woff2) format("woff2") , url(/assets/fonts/Sohne-Fett.woff) format("woff") , url(/assets/fonts/Sohne-Fett.ttf) format("truetype") , url(/assets/fonts/Sohne-Fett.svg#Sohne-Fett) format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}